<a href="https://colab.research.google.com/github/sureshbsurya23-lgtm/Management-Report/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

1. Functions are the first step to code reuse.
2. They allow you to define a reusable block of code that can be used repeatedly in a program.
3. Python provides several built-in functions such as **print(), len(), max(), min() or type()**, but you can also define your own functions to use within your programs.

![Function_syntax.JPG]()

#### Function syntax

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

#### Simple hello

In [ ]:
print("Hello")

In [ ]:
def hello_function():
  a = 'Hello'
  return a

In [ ]:
# Call a function
hello_function()

#### Return a value from function

In [ ]:
def addition(a, b):
  result = a+b
  return a+b

In [ ]:
val = addition(100, 20)
val

In [ ]:
addition(400, 200)

In [ ]:
def number():
  a = 20
  return a+20  # Output for the function

In [ ]:
# Call a function
value = number()

In [ ]:
print(value)

#### Taking inputs to function

In [ ]:
# Adding two numbers

a = 5
b = 10

print(a+b)

In [ ]:
c = 10
d = 20
print(c+d)

In [ ]:
def addition(a, b):  # This is an input
  result = a+b
  return result       # This is an output

In [ ]:
addition(c, d)

In [ ]:
help(addition)

In [ ]:
help(max)

In [ ]:
# Adding two numbers using function
c = 100
d = 20

def addition(number1,number2):
  add = number1 + number2
  return float(add)

addition(c,d)

In [ ]:
def addition_string(z,y):
  z = str(z)
  y = str(y)
  return z+y

In [ ]:
addition_string(55, 10)

In [ ]:
addition_string(5,6)

In [ ]:
a = 100
b = 200

def number(x,y):
  xx = 10
  yy = 20
  return x+y + xx + yy

number(a,b)

In [ ]:
b = [10, 20]

b.append()

In [ ]:
a = [10, 20, 4, 50, 7]

a.sort()
a

In [ ]:
a.sort() # Ascending -> Default if not given any parameters

In [ ]:
max(a)

In [ ]:
def addition(a, b):
  return a+b

addition(10, 20)

In [ ]:
# () -> default and does some calculations for functions

In [ ]:
def num_add(a,b,c):
  res = a+b+c
  return res

num_add(20, 30, 40, 50)

In [ ]:
# IF you give (parameter = value) in function parameters, then it is default.
def num_add(a = 100,b = 20,c = 10):
  res = a+b+c
  return res

num_add()

130

In [ ]:
num_add(1000, 3000)

4010

In [ ]:
# iniialize in the input ->> Default inputs

num1 = 400
num2 = 1000
num3 = 200

def num_add(a = 100,b = 200, c = 10):
  res = a+b+c
  return res

num_add() # a=100, b=200, c=10

In [ ]:
num_add(c = num1)
# a = num1, b = num2, c=num3

In [ ]:
n1 = 100
n2 = 200
n3 = 300

def addition_numbers(n1, n2, n3, a = 10, b=20, c=30):
  result = a+b+c+n1+n2+n3
  return result

addition_numbers(n1, n2, n3)

660

In [ ]:
# a.sort()
# a.pop()

In [ ]:
num1 = 100
num2 = 2300
num3 = 600
def num_add(a = 100,b = 200, c = 10):
  res = a+b-c
  return res

In [ ]:
res = num_add()  # It will take default values for a, b and c
res1 = num_add(num1) # It will change only value of 'a' to num1, b and c will be default
res2 = num_add(num2, num3)  # a = num2, b = num3, c=10
print(res, res1, res2)

In [ ]:
a = [10, 24, 50, 67, 80, 7]
b = [-4, 5, 70, 8, 9]

max = a[0]
for ele in a:
  if ele > max:
    max = ele
print(max)

In [ ]:
a = [10, 24, 50, 67, 80, 7]
b = [-4, 5, 70, 8, 9]

def maximum(li):
  max = li[0]
  for ele in li:
    if ele > max:
      max = ele
  return max

maximum(b)

In [ ]:
# max number

a = [12,24,10,4,5,35]
b = [10, 3, 4,60, 7, 80]
# max -> 35

def maximum(li):
  max = li[0]
  for ele in li:
    if ele > max:
      max = ele
  return max


#print(maximum(a), maximum(b))
max_a = maximum(a)
max_b = maximum(b)
max_c = maximum([10, 20, 30, 40, 50])
print(max_a, max_b, max_c)

In [ ]:
b = [12,24,10, 4, 5, 35]
c = [100, 200, 30, 40, 5000]


def max_number(numbers):
  max = 1
  for i in numbers:
    #print(i)
    if i > max:
      max = i
  return max

In [ ]:
print(max_number(b), max_number(c))

In [ ]:
max_number([20, 30, 50,60])

In [ ]:
min(12,24,10, 4, 5, 30)

In [ ]:
list_length = [12,24,10, 4, 5, 30,70]
len(list_length)

In [ ]:
count= 0
for i in list_length:
  count +=  1

print(count)

In [ ]:
def length(li, count):
  for ele in li:
    count += 1
  return count

length([10, 20, 30 , 40], 0)

In [ ]:
a = [10, 20, 30]
b = [40, 70, 80, 80, 90, 80]

print(length(a,0), length(b,0))

#### Returning multiple values from function

In [ ]:
def maths(a, b):
  operation = 'sum'
  addition = a+b
  division = a/b
  return operation, addition, division

In [ ]:
result = maths(5, 10)
print(result) # Output will be in the form of tuple

('sum', 15, 0.5)

In [ ]:
# output varaibles can be assigned to multiple values
ope, add, div = maths(5, 10)
print(ope)
print(add)
#print(div)

sum
15

In [ ]:
operation, add, division = maths(10,20)

In [ ]:
print(operation)
print(add)
print(division)

In [ ]:
def details(name, age, gender):
  name = name
  age = age
  gender = gender

  return name, age, gender

In [ ]:
name, age, gender = details('Ramesh', 15, 'M')
print(name, age, gender)

Ramesh 15 M

In [ ]:
_,_,gender = details('Ramesh', 15, 'M')
print(_, gender)
#print(_)

15 M

In [ ]:
_,age,_ = details('Suresh', 30, 'M')
print(_, age)

In [ ]:
# _ -> 'name'
# _ -> 30

In [ ]:
_,_,gender = details('Suresh', 30, 'M')
print(_)

In [ ]:
def maths(a, b, c):
  add = a+b+c
  sub = a-b-c
  return add, sub

addition, subtraction = maths(10, 200, 300)
addition

#### Return elements in list and dictionary

In [ ]:
def details(name, age, gender):
  name = name
  age = age
  gender = gender

  return [name, age, gender]

In [ ]:
details('Suresh', 30, 'M')

In [ ]:
result_details = details('Suresh', 30, 'M')
result_details[0] = 'Ramesh'
result_details

In [ ]:
def details(name_one, age, gender):
  result = {'name': name_one, 'age': age, 'gender': gender}
  return result

details('Ramesh', 40, 'M')

In [ ]:
def details(name, age, gender):
  result = dict()     # {}
  result['name'] = name
  result['age'] = age
  result['gender'] = gender
  return result

details('Suresh', 30, 'M')

In [ ]:
def details(name, age, gender):
  return {'name': name, 'age':age, 'gender':gender}

In [ ]:
details('Suresh', 30, 'M')

In [ ]:
# result = {'name':'Suresh}

[ {'name': 'Student1', 'age': 20, 'gender': 'F'},

{'name': 'Student2', 'age': 21, 'gender': 'M'},

{'name': 'Student3', 'age': 22, 'gender': 'F'},

{'name': 'Student4', 'age': 23, 'gender': 'M'} ]

# Function call inside another function

In [ ]:
def fun1(a,b):
  return a*b

def fun2(a,b):
  return a/b

def main_fun(a,b):
  c = fun1(a,b)       # c = 10*20
  d = fun2(a,b)       # d = 10/20
  res = c+d           # res = (10*20) + (10/20)
  return res

In [ ]:
result = main_fun(10, 20)
result

In [ ]:
a, b, c, d = 50, 15, 20, 30

def fun1(value1,value2):
  return value1*value2

def fun2(a,b):
  return a/b

def main_func(a,b,c,d):
  c = fun1(c,d)         # c = 20*30
  d = fun2(a,b)         # d = 50/15
  res = c+d             # c+d
  return res

main_func(a,b,c,d)

# args and kwargs

1. *args = used to pass a N no of arguments in a function.

2. **kwargs = used to pass a keyworded variable length of arguments.

In [ ]:
def addition(St1, St2, St3, St4, St5, St6, St7, St8, St9):
  return St1+St2+St3+St4+St5+St6+St7+St8+St9

addition(10,30,50, 60, 70, 80, 90, 100, 120)

610

In [ ]:
# *args = used to pass a N no of arguments in a function.
# if *args is given, the args acts like a tuple.
def addition(*args):
  sum = 0
  for ele in args:
    sum += ele
  return sum

addition(10,30,50, 60, 70)

220

In [ ]:
help(list)

In [ ]:
def add_arg1(*argument, arg, arg2):
  sum = 0
  for i in argument:
    sum += i

  total_sum = arg + arg2 + sum
  print(arg, arg2)
  return total_sum

add_arg1(10, 20, 30, 60, arg=10, arg2 = 100)

10 100

230

In [ ]:
add_arg1(arg = 10, arg2 = 20, 30, 50, 60, 70)

In [ ]:
def addition(a, b, c):
  return a+b+c

addition(10,30,50)

def add_args(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

print(add_args(10,20,30,40))


def add_arg1(arg, *argument):
  sum = 1
  for i in argument:
    sum *= i

  total_sum = arg + sum
  print('arg ', arg)
  return total_sum

print(add_arg1(100, 5, 10, 5, 10))

In [ ]:
# **kwargs -> Dictionary
# *args -> list

In [ ]:
def details(name, age, gender, location):
  result = dict()
  result['name'] = name
  result['age'] = age
  result['gender'] = gender
  result['location'] = location
  return result

result = details('harish', 30, 'M', 'Bangalore')
print(result)

In [ ]:
# Kwargs -> For dictionary

# Normal way
def details(name, age, gender):
  result = dict()
  result['name'] = name
  result['age'] = age
  result['gender'] = gender

  return result

result = details('harish', 30, 'M')
print(result)

In [ ]:
def addition(*args):
  pass

addition(10, 20, 30,40)

In [ ]:
# Kwargs
# .keys(), .values() and .items()
def details_kwargs(**kwargs):
  res = (kwargs.keys())
  return res

det = details_kwargs(name = 'harish', age = 30, gender = 'M', location='Bangalore')
det

dict_keys(['name', 'age', 'gender', 'location'])

In [ ]:
def test_details(**kwargs):
  return kwargs

det = test_details(name = 'harish', age = 30, gender = 'M', location = 'Bangalore')
det

{'name': 'harish', 'age': 30, 'gender': 'M', 'location': 'Bangalore'}

In [ ]:
def total(**kwargs):
  # build logic here
  return total_sum

d = total(M1 = 40, M2= 50, M3 =30)
# output should be summation of 40+50+30
d

In [ ]:
def dict_summation(**kwargs):
  sum = 0
  for i in kwargs.values():
    sum += i
  return sum

dict_summation(id_1= 70, id_2 = 50, id_3= 85, id_4 = 50)

# Lambda function

Syntax: lambda arguments: expression

Ananymous function

In [ ]:
def double(n):
  return n*2

print(double(5))   # 5*2 -> 10

10

In [ ]:
# lambda Example 1
double_lambda = lambda x:x*2
print(double_lambda(5))

10

In [ ]:
a = lambda k:k*2
a(6)

12

In [ ]:
def larger(a,b):
  if a>b:
    return a
  else:
    return b
larger(10, 20)

In [ ]:
# Lambda example 2
value = lambda a,b: a if a>b else b
value(10, 20)

20

In [ ]:
names = ['Argentina', 'India', 'Chile', 'Australia', 'Turkey', 'France', 'UnitedKingdom']

names.sort()
print(names)

['Argentina', 'Australia', 'Chile', 'France', 'India', 'Turkey', 'UnitedKingdom']

In [ ]:
names.sort(reverse=True)
print(names)

['UnitedKingdom', 'Turkey', 'India', 'France', 'Chile', 'Australia', 'Argentina']

In [ ]:
names = ['UAE', 'India', 'Chile', 'Australia', 'Turkey', 'France', 'UnitedKingdom']
b = lambda x:len(x)
b(names)

In [ ]:
# Example 3
names = ['Argentina', 'Chile', 'India', 'Australia', 'Turkey', 'France', 'UnitedKingdom']

names.sort(key = lambda x:x[2])   # #
print(names)

# names.sort(reverse = True, key = lambda x:len(x))
# print(names)

['France', 'India', 'Argentina', 'Chile', 'UnitedKingdom', 'Turkey', 'Australia']

In [ ]:
names = ['Argentina', 'Chile', 'India', 'Australia', 'Turkey', 'France', 'UnitedKingdom']

n = lambda x:len(x)

n(names)

7

In [ ]:
# Example 4
points = [(1, 3), (2, 1), (5, 2), (4, 4)]
sorted_points = sorted(points, key=lambda x: x[1])
sorted_points

[(2, 1), (5, 2), (1, 3), (4, 4)]

In [ ]:
# Example 5
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(6))  # Output: True

True

In [ ]:
# Lambda function with if-else condition: Example 6
result = lambda x: 'Even' if x % 2 == 0 else 'Odd'

# Test the lambda function
print(result(4))  # Output: Even
print(result(7))  # Output: Odd

Even
Odd

In [ ]:
# Example 7: Lambda function in a list comprehension
numbers = [1, 2, 3, 4, 5]
#squared_numbers = lambda x:x**2
squared_numbers = [(lambda x: x ** 2) for num in numbers]
squared_numbers

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>]

In the above code cell,

squared_numbers = `[(lambda x: x ** 2) for num in numbers]`: This line uses a list comprehension to create a new list called squared_numbers. For each element num in the numbers list, it creates a lambda function lambda x: x ** 2 and adds it to the squared_numbers list. So, the result is nothing but lambda functions in the list comprehension. To get the output, we need to insert the value of `x` for each lambda function, which is nothing but `num` here.

In [ ]:
# Example 7: Lambda function in a list comprehension
numbers = [1, 2, 3, 4, 5]
squared_numbers = [(lambda x: x ** 2)(num) for num in numbers]
squared_numbers

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 2, 3, 4, 5]
value = lambda x:x**2
value(numbers)

# for num in range(len(numbers)):
#   value(numbers[num])
#   print(value)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
# Example 8: Lambda function with loop and condition
numbers = [1, 2, 3, 4, 5]
even_odd_results = [(lambda x: 'Even' if x % 2 == 0 else 'Odd')(num) for num in numbers]
even_odd_results

# Filter, Reduce along with Map

1. Map -> map(function, iterable)
2. Filter -> filter(function, iterable)
3. Reduce -> reduce(function, iterable, [,initializer])

In [ ]:
a = ['10', '20', '30', '40']
list(map(int, a))

[10, 20, 30, 40]

In [ ]:
a = list(map(int, input().split()))
sum(a)

10 20 30 40

100

In [ ]:
def square(n):
  return n**2

res = list(map(square, range(1, 10, 2)))  # 1, 3, 5, 7, 9
res

[1, 9, 25, 49, 81]

In [ ]:
res = list(map(lambda n:n**2, range(1, 10, 2)))
res

[1, 9, 25, 49, 81]

In [ ]:
n = [1, 2, 3, 4, 5]
res = lambda n:n**2

res(n[2])

In [ ]:
res = list(map(lambda n:n**2, range(1, 10, 2)))  # 1, 3, 5, 7, 9
print(res)

In [ ]:
a = ['5', '6', '7']
b = list(map(int, a))
print(b)

In [ ]:
# Map with user function
def square(n):
  return n**2

res = list(map(square, range(1, 10, 2)))
print(res)

In [ ]:
# Map with lambda function

b = list(map(int, input().split())) # output -> [input1, input2...]
res = list(map(lambda n:n**2, b))
print(b)
print(res)

In [ ]:
list(map(int, ['10', '20', '30']))

Map -> map(function, iteration)

input() -> input().split() -> map   -> list

5 6 7 8 -> '5','6','7','8' -> 5,6,7,8 -> [5,6,7,8]

In [ ]:
list(map(lambda n:n**2, [1, 2, 3, 4]))

In [ ]:
# Filter example

nums = [5, 10, 23, 64, 42, 53, 93, 2, 0, -14, 6, -22, -13]

In [ ]:
for i in nums:
  if i%2!= 0:
    print(i)

5
23
53
93
-13

In [ ]:
# List comprehension method
odd = [i for i in nums if i%2!= 0]
even = [i for i in nums if i%2 == 0]
print(odd)
#print(even)

[5, 23, 53, 93, -13]

In [ ]:
nums = [5, 10, 23, 64, 42, 53, 93, 2, 0, -14, 6, -22, -13]

In [ ]:
odd_filter = filter(lambda value:value%2!=0, nums)
#odd_filter
list(odd_filter)

[5, 23, 53, 93, -13]

In [ ]:
nums = [5, 10, 23, 64, 42, 53, 93, 2, 0, -14, 6, -22, -13]
odd_filter = filter(lambda x:x%2!=0, nums)
print(list(odd_filter))

[5, 23, 53, 93, -13]

In [ ]:
list_words = ["level", "hello", "radar", "python", "madam", "kik"]


# for word in list_words:
#   if word == word[::-1]:
#     print(word)

print(list(filter(lambda word:word==word[::-1], list_words)))

#print('From map')
print(list(map(lambda word:word[::-1], list_words)))

['level', 'radar', 'madam', 'kik']
['level', 'olleh', 'radar', 'nohtyp', 'madam', 'kik']

In [ ]:
for word in list_words:
  if word == word[::-1]:
    print(word)

level
radar
madam
kik

Lambda examples

In [ ]:
# List of words
words = ["level", "hello", "radar", "python", "madam"]

# Using lambda function with filter to extract palindromic words
palindromes = list(filter(lambda word: word == word[::-1], words))
print(palindromes)

In [ ]:
# List of words
words = ["level", "hello", "radar", "python", "madam"]

# Using normal function with map to extract reverse words
def reverse_list(word):
  return word[::-1]

result = list(map(reverse_list, words))
print(result)


# Using lambda funtion with map to extract reverse words
lambda_result = list(map(lambda word:word[::-1], words))
print(lambda_result)


# using filter
print(list(filter(lambda word:word==word[::-1], list_words)))

In [ ]:
# List of tuples
students = [('Alice', 22), ('Bob', 20), ('Eve', 21)]

# Sorting the list of tuples using lambda
students.sort(key=lambda a:a[1])
print(students)

In [ ]:
# List of dictionaries (representing people and their ages)
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Eve', 'age': 22},
    {'name': 'Dan', 'age': 27}
]

# Sorting the list of dictionaries
sorted_people = sorted(people, key=lambda x: x['age'])
print(sorted_people)

##### Reduce

In [ ]:
from functools import reduce

In [ ]:
# Normal function
a = [25, 40, 50, 10, 20]

def addition(a):
  sum = 0
  for i in a:
    sum += i
  return sum

total_sum = addition(a)
total_sum

145

In [ ]:
# using reduce
from functools import reduce

addition_list= [25, 40, 50, 10, 20]

def add(b,c):
  return b+c

total_sum_reduce = reduce(add,addition_list)
print(total_sum_reduce)

# 25 + 40 = 65
# 65 + 50 = 115
# 115 + 10 -> 125
# 125 + 20 -> 145

145

In [ ]:
"""
a = [25, 40, 50, 10]

1. normally, you create a loop and get the total_sum
2. In reduce, you use reduce function to get total sum

1. 25+40
2. (25+40)+50
3. (25+40+50)+10

"""

#Recursive function

Recursion is the process of defining something in terms of itself.

![Recursion.JPG]()

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [ ]:
# 1. You should have a end condition at any cost. -> Similar to while loop

In [ ]:
# # 1. factoriol(5)
#       -> (5 * factorial(4))
#       -> (5 * 4 * factorial(3))
#       -> (5 * 4 * 3 * factorial(2))
#       -> (5 * 4 * 3 * 2 * factorial(1))
#       -> (5 * 4 * 3 * 2 * 1)

In [ ]:
def recur_sum(n):

  if n <= 1:
      return n
  else:
      return n + recur_sum(n-1)

recur_sum(5)

In [ ]:
def fibonacci(n):
  if n <= 1:
      return n
  else:
      return fibonacci(n - 1) + fibonacci(n - 2)

n = 15
fibonacci(n)

# for i in range(1,n):
#   print(fibonacci(i))

610

In [ ]:
fibonacci(8)

21

In [ ]:
# fibonacci(5)
#     fibonacci(4) + fibonacci(3)
#     fibonacci(3) + fibonacci(2) + fibonacci(2) + fibonacci(1)
#      fibonacci(2) + fibonacci(1) + fibonaaci(1) + fibonacci(0) + fibonaaci(1) + fibonacci(0) + 1
#      fibonacci(0) + fibonaaci(1) + 1 +1 + 0 + 1 + 0 + 1
#      0 + 1 + 1 + 1 + 0 + 1 + 0 + 1